<div class="grid">
  @for (wc of workCenters(); track wc.docId) {
    <div class="grid__row">
      <div class="grid__sticky">{{ wc.data.name }}</div>
      <div class="grid__cells" (click)="onCellsClick($event, wc.docId)">
        @for (col of columns(); track col.startDate; let i = $index) {
          <div
            class="grid__cell"
            [class.grid__cell--current]="i === currentColumnIndex()"
            [class.grid__cell--occupied]="isOccupied(wc.docId, i)"
            [style.width.px]="col.width"
          ></div>
        }
        <div class="grid__bars">
          @for (order of ordersFor(wc.docId); track order.docId) {
            <app-work-order-bar
              [order]="order"
              [viewport]="viewport()"
              (editClick)="editOrder.emit($event)"
              (deleteClick)="deleteOrder.emit($event)"
            />
          }
        </div>
      </div>
    </div>
  }
</div>
